---
import Card from "./../../components/Card.astro";
import Layout from "./../../layouts/Layout.astro";
import "../../../tailwind.css";
import { SectionCategory } from "../../components/SectionCategory";
---

<Layout title="Product">
  <div class="container">
    <main class="p-4">
      <div class="grid lg:grid-cols-2">
        <div class="">
          <img
            class="w-full"
            src="https://depor.com/resizer/dV5TqPnaHmZP6yMI_GfeKL28T6I=/1200x1200/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/OCJ6ZQ4G4RHMRGDRYR7UBZQ6PY.jpg"
            alt=""
          />
          <!-- <img class="w-full" src="/images/img-trusa-cachetero.png " alt="" /> -->
        </div>
        <div class="">
          <h3 class="mt-4 uppercase opacity-30 text-2xl font-bold">violetta</h3>
          <div class="flex justify-between">
            <h2 class="text-3xl font-bold">
              Trusa Cachetero para dama con bordes
            </h2>
          </div>
          <p class="text-color-primary font-bold text-3xl my-2">S/25.00</p>
          <p class="mt-4">Truza de algodon reactivo en varios colores</p>
          <p class="mt-4 text-xl capitalize font-semibold">size:</p>
          <section class="mt-4 flex gap-4">
            <article class="bg-white p-4 rounded-2xl">S</article>
            <article class="bg-white p-4 rounded-2xl">M</article>
            <article class="bg-white p-4 rounded-2xl">L</article>
            <article class="bg-white p-4 rounded-2xl">XL</article>
          </section>
          <div class="mt-4 flex gap-4 items-center">
            <i
              class="bg-pink-200 text-pink-500 p-4 rounded-2xl fa-regular fa-heart icon"
            ></i>
            <div
              class="bg-pink-400 font-semibold text-white w-full p-4 text-xl text-center rounded-2xl color-primary"
            >
              Añadir al carrito
            </div>
          </div>
        </div>
      </div>

      <section class="mt-8 text-xl font-semibold">
        <h2 class="category-title">Otros productos:</h2>
        <div class="mt-4">
          <SectionCategory client:only="react" />
        </div>
      </section>
    </main>
  </div>
</Layout>
